.nav{
  font-size: 2em;
  border-bottom-color: rgba(white, .35);
  &-item{
    flex: 1;
    text-align: center;
    &:hover{
      background-color: rgba(black, .15);
    }
    &-active,
    &-active:hover{
      background-color: rgba(black, .3);
    }
  }
  &-link,
  &-link:hover,
  &-link:focus{
    border: none !important;
  }
  &-link{
    margin-bottom: 7px !important;
  }
}
